In [1]:
coordinates=(10,20,30)
coordinates

(10, 20, 30)

ACCESSING ITEMS IN A TUPLE

In [4]:
print(coordinates[0])

10

DICTIONARY

creating a dictionary

In [5]:
student={
    "name":"alice",
    "age":20,
    "marks":85
}
student

{'name': 'alice', 'age': 20, 'marks': 85}